.App {
  font-family: sans-serif;
  text-align: center;
}

.point-left {
  position: absolute;
  top: 50%;
  left: 1rem;
}

.point-right {
  position: absolute;
  top: 50%;
  right: 1rem;
}
.slide-tracker {
  position: absolute;
  bottom: 2rem;
  margin: 0 auto;
}
.will-change {
  will-change: transform, opacity;
}
