.App {
  font-family: sans-serif;
  text-align: center;
}

.point-left {
  position: absolute;
  top: 50%;
  left: 1rem;
}

.point-right {
  position: absolute;
  top: 50%;
  right: 1rem;
}

.will-change {
  will-change: transform, opacity;
}
